binutils
clang
cmake
curl
gettext
git-core
googletest
guile-2.2-dev
libaqbanking-dev
libboost-date-time-dev
libboost-dev
libboost-filesystem-dev
libboost-locale-dev
libboost-program-options-dev
libboost-regex-dev
libboost-thread-dev
libdbd-sqlite3
libdbi-dev
libglib2.0-dev
libgwengui-gtk3-dev
libgwenhywfar-core-dev
libofx-dev
libpthread-stubs0-dev
libsecret-1-dev
libwebkit2gtk-4.0-dev
libxml2-dev
libxml2-utils
libxslt1-dev
locales
make
pkg-config
swig
xsltproc
zsh
